# Eclipse files
*.project
*.classpath
*.settings

# Intellij files
*.iml
*.iws
.idea
keycloak_client/scripts/.idea
keycloak_client/tests/.idea
keycloak_client/.idea

# Python
*.pyc

keycloak_client/scripts/__pycache__
keycloak_client/tests/__pycache__
keycloak_client/tests/.pytest_cache
keycloak_client/.pytest_cache
keycloak_client/__pycache__
.pytest_cache


# Packages
*.jar

# Maven build files
target
reports
helm-home/
helm-target/
.m2/

# Merge files
*.orig

# VScode files
settings.json